<div class="sidebar" data-color="orange" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
    <div class="logo">
      <a target="_blank" rel="noopener noreferrer" 
         href="" class="simple-text logo-normal">
         {{employee.name}} {{employee.surname}}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
      {% if request.user.is_authenticated %}
        <li class="nav-item {% if 'buildings' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'buildinginformationMap' %}">
            <i class="material-icons"></i>
            <p>Buildings</p>
            </a>
        </li>

        <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'employeeprofile' %}">
            <i class="material-icons"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item {% if 'boardroom' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'boardroombuildings' %}">
            <i class="material-icons"></i>
            <p>Boardrooms</p>
          </a>
        </li>
        <li class="nav-item {% if 'parking' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'parkingBuildings' %}">
            <i class="material-icons"></i>
            <p>Parkings</p>
          </a>
        </li>
        <li class="nav-item {% if 'report' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'reportBuilding' %}">
            <i class="material-icons"></i>
            <p>Reports</p>
          </a>
        </li>
        <li class="nav-item {% if 'notification' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'notificationEmployee' %}">
            <i class="material-icons"></i>
            <p>Notifications</p>
          </a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}" >
            <i class="material-icons"></i>
            <p>Logout</p>
          </a>
        </li>


      {% else %}

        <li class="nav-item active">
          <a class="nav-link" 
             target="_blank" rel="noopener noreferrer"  
             href="">
            <i class="material-icons"></i>
            <p>Buildings Management</p>
          </a>
        </li>          

      {% endif %}
      </ul>
    </div>

  </div>
